.movie-card {
  background: rgb(5, 84, 113);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  padding: 10px;
}

.movie-card img {
  width: 100%;
  border-radius: 10px;
}
.movie-card {
  max-width: 10px; 
  margin-left: auto; 
  margin-right: auto;
}